/* Focus states */
input:focus, textarea:focus, a:focus, button:focus {
  box-shadow: inset 0 0 0 2px var(--primary);
  outline: 0!important;
}

.raise {
  transition: var(--hover-transition);
  transform: translateY(0) translateZ(0);
}

.raise:hover,
.raise:focus {
  transition: var(--hover-transition);
  transform: translateY(-.12rem) translateZ(0);
}

.raise:active {
  transition: var(--hover-transition);
  opacity: .5;
}